{% extends 'base.html' %}
{% load static staticfiles %}

{% block title %} Регистрация/Вход {% endblock %}

{% block content %}
{#    <section id="cover" style="margin-top: 30px">#}
{#        <div id="cover-caption">#}
{#            <div id="container" class="container">#}
{#                <div class="row">#}
{#                    <div class="col-sm-10 offset-sm-1 text-center">#}
{#                        <div class="info-form">#}
{#                            <form>#}
{#                              <div class="form-group">#}
{#                                <label for="exampleInputEmail1">Почта</label>#}
{#                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">#}
{#                              </div>#}
{#                              <div class="form-group" style="margin-top: 20px">#}
{#                                <label for="exampleInputPassword1">Пароль</label>#}
{#                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
{#                              </div>#}
{#                              <div style="margin-top: 20px">#}
{#                                <button type="submit" class="btn btn-primary">Вход</button>#}
{#                              </div>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}


    <div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <hr />
                    <h1 class="modal-title">Вход</h1>
                    <hr />
                    <form>
                        <input type="hidden" name="_token" value="">
                        <div class="form-group">
                            <label class="control-label">Почта</label>
                            <div>
                                {{ login_form.email }}
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 13px;">
                            <label class="control-label">Пароль</label>
                            <div>
                                {{ login_form.password }}
                            </div>
                            <p id="login_error_block_id" style="display: none; color: red; font-size: 13px; margin-left: 10px">Почта или пароль не правильно введены!</p>
                        </div>

                        <div class="form-group" style="margin-top: 10px;">
                            <div>
                                <button id="login_btn_id" class="btn btn-primary">Вход</button>

                                <a class="btn btn-link" href="">Забыли пароль?</a>
                            </div>
                        </div>
                    </form>
                    <hr />
                    <h1 class="modal-title">Регистрация</h1>
                    <hr />
                    <form role="form" method="POST" action="">
                        <input type="hidden" name="_token" value="">
                        <div class="form-group">
                            <label class="control-label">Имя</label>
                            <div>
                                <input type="text" class="form-control input-lg" name="name" value="">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label class="control-label">Фамилия</label>
                            <div>
                                <input type="text" class="form-control input-lg" name="name" value="">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label class="control-label" >Отчество</label>
                            <div>
                                <input type="text" class="form-control input-lg" name="name" value="">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label class="control-label">Номер телефона</label>
                            <div>
                                <input type="tel" id="phone" class="form-control input-lg" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label class="control-label">Почта</label>
                            <div>
                                <input type="text" class="form-control input-lg" name="email" value="">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label class="control-label">Пароль</label>
                            <div>
                                <input type="password" class="form-control input-lg" name="password">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label class="control-label">Повторите пароль</label>
                            <div>
                                <input type="password" class="form-control input-lg" name="password_confirmation">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <div>
                                <button type="submit" class="btn btn-success">
                                    Регистрация
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block js %}
    <script>
        const loginUrl = "{% url 'login' %}";
        const token = getCookie(name='csrftoken');
    </script>
    <script src="{% static 'js/auth.js' %}"></script>
{% endblock %}